@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Regular'), url(./fonts/Gilroy-Regular.ttf) format('truetype');
}

$primary: #2B2A29;

body {
    margin: 0 0;
    padding: 0 100px 0 100px;
    overflow-x: hidden;
}

p {
    margin: 0;
}

a:visited {
    color: white;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 0 15px 0 15px;
    background-color: $primary;
    font-family: 'Gilroy';
    color: white;
}

.logo-img-wrapper {
    width: 50px;
    height: 50px;
    letter-spacing: 16%;
    cursor: pointer;
}

.logo-img-text-container {
    position: relative;
    left: -3px;
    top: -78%;
    font-size: 10px;
    font-weight: 400;
    background-color: $primary;
    cursor: pointer;
}

.header-pagename {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:fit-content;
    gap: 10px;
    
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemsList-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    margin-bottom: 10px;
}

.show-more-btn {
    font-family: 'Gilroy';
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 45px;
    border: 2px solid $primary;
    background-color: white;
    color: $primary;
    box-shadow: 0px 2px 4.8px 0px #00000040;
    cursor: pointer;
}

.itemsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 1px 5px 0px #0000004A;
}

.item-img {
    object-fit: contain;
    width: 100%;
    height: 132px;
}

.item-name-container {
    width: 100%;
    height: 48px; 
    h1 {
        font-size: 20px;
        margin: 0;
    }
}

.item-desc-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    p { 
        margin: 0;
        font-size: 16px;
    }
}

.item-footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    h2 {
        font-family: 'Gilroy';
        margin: 0;
        margin-bottom: 3px;
        font-size: 24px;
    }
}

.item-add-to-cart {
    width: 40px;
    height: 40px;
    background-color: $primary;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.cart {
    width: 25%;
    height: fit-content;
    margin-top: 10px;
    box-shadow: 1px 1px 5.2px 0px #0000004A;
}

.cart-header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 16px 15px 16px 15px;
    background-color: $primary;

    p {
        font-family: 'Gilroy';
        font-weight: 700;
        font-size: 20px;
        color: white;
    }
}

.cart-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 68px;
    padding: 10px;
    border-bottom: 1px solid $primary;

    button {
        background: none;
        border: none;
        cursor: pointer;
    }
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 100%;
    padding-left: 10px;
    font-size: 15px;
    line-height: 15px;
    h3 {
        font-family: 'Gilroy';
        font-weight: 700;
        font-size: 16px;
        margin: 0; 
    }
}

.cart-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    gap: 10px;

    p {
        font-family: 'Gilroy';
        font-weight: 700;
        font-size: 32px; 
    }
}

.cart-checkout-btn {
    font-family: 'Gilroy';
    font-size: 20px;
    width: 210px;
    height: 56px;
    border-radius: 35px;
    border: none;
    color: white;
    background-color: $primary;
    cursor: pointer;
    box-shadow: 0px 2px 4.5px 0px #00000040;
}

.filter-container {
    width: 15%;
    height: fit-content;
    margin: 10px 0;
}

.filter-wrapper {
    display:flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

.category-button {
    font-family: 'Gilroy';
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 32px);
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    border: 2px solid $primary;
    cursor: pointer;
    transition: padding .25s, margin .25s;

    &:hover {
        padding: 2px 8px 2px 8px;
        margin: 0 4px 0 0;
    }

    &:active {
        background-color: $primary;
        color: white;
    }
}

.switch {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
}

footer {
    font-family: 'Gilroy';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: $primary;
    gap: 5px;
}