@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Regular'), url(./fonts/Gilroy-Regular.ttf) format('truetype');
}

$primary: #2B2A29;

body {
    margin: 0 0;
    padding: 0 200px 0 200px;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    padding: 0 15px 0 15px;
    background-color: $primary;
    font-family: 'Gilroy';
    color: white;
}

.logo-img-wrapper {
    width: 50px;
    height: 50px;
    letter-spacing: 16%;
    cursor: pointer;
}

.logo-img-text-container {
    position: relative;
    left: -3px;
    top: -78%;
    font-size: 10px;
    font-weight: 400;
    background-color: $primary;
    cursor: pointer;
}

.header-pagename {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:fit-content;
    gap: 10px;
    
}

main {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemsList {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px;
}

.item {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px 1px 5px 0px #0000004A;
}

.item-img {
    object-fit: contain;
    width: 100%;
    height: 132px;
}

.item-name-container {
    width: 100%;
    height: 48px; 
    h1 {
        font-size: 20px;
        margin: 0;
    }
}

.item-desc-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    p { 
        margin: 0;
        font-size: 16px;
    }
}

.item-footer {
    display: flex;
    align-items: end;
    width: 100%;
    height: 40px;
    h2 {
        font-family: 'Gilroy';
        margin: 0;
        font-size: 24px;
    }
}

.div1 { grid-area: 1 / 4 / 2 / 6; }


.cart {
    width: 25%;
    height: 100px;  /* undefined yet */
    background-color: green;
}

footer {
    // TODO
}